{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
    <h1>SINGLE PLAY VIEW</h1>
    {% cloudinary play.vaultPlay.image format="jpg" width=120 height=80 crop="fill" %}
    <h1>{{ play.vaultPlay.title }}</h1>
    <p>{{ play.vaultPlay.shortBio }}</p>
    <p>Starting at {{ play.startTime }}</p>
    <p>Ending at {{ play.endTime }}</p>
    <br>
    <p><a href="{% url 'theatre_view' play.vaultPlay.theatre.id %}">Played at the theatre: {{ play.vaultPlay.theatre.name }}</a></p>
    <p><a href="{% url 'artist_view' play.vaultPlay.director.id %}">Directed by {{ play.vaultPlay.director.name }}</a></p>
    <p>With the following actors: </p>
    {% for actor_role in play.vaultPlay.actorrole_set.all %}
        <p>{{ actor_role.artist.name }} in the role of {{ actor_role.role }}</p>
    {% endfor %}
{% endblock content %}