{% extends "base.html" %}
{% block title %}
    {% if type == "director" %}
        Directors
    {% elif type == "actor" %}
        Actors
    {% else %}
        Artists
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <form class="input-group rounded mb-3" action="{% url 'artists_view' %}" method="get">
             <input name="type" type="hidden" value="{{ type }}">
             <input name="q" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
             <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
             </span>
        </form>
        {% if query %} Search results for: {{ query }} {% endif %}
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for artist in artists %}
                <div class="col">
                    <div class="card shadow-lg">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="{{ artist.image.url }}"
                                    class="img-fluid"
                            />
                            <a href="{% url 'artist_view' artist.id %}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ artist.name }}</h5>
                            {% for assocTheatre in artist.associatedTheatres.all %}
                                <p class="h6 card-subtitle mb-2 text-muted">{{ assocTheatre.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
