{% extends "base.html" %}
{% load cloudinary %}
{% block title %}{{ artist.name }}{% endblock %}
{% block content %}
    <div>
        <!-- Header with theatre name and follow button -->
        <div>
            <div class="text-center">
                <img src="{{ artist.image.url }}" class="img-fluid" alt="artist photo">
            </div>
            <div class="container" style="background-color: rgba(0, 0, 0, 0.2)">
                <div class="row pt-2">
                    <div class="col-auto">
                        <p class="h1">{{ artist.name }}</p>
                    </div>
                    <div class="col-auto pt-2">
                        {% include 'follow.html' with name="artist" id=artist.id %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Artist info -->
        <div class="mx-5 mt-3">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <p class="lead">{{ artist.shortBio }}</p>
                </div>

                <div class="col-auto">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">
                            <b>Associated theatres:</b>
                        </li>

                        {% for theatre in artist.associatedTheatres.all %}
                            <a href="{% url 'theatre_view' theatre.id %}"
                               class="list-group-item list-group-item-action list-group-item-light"
                            >{{ theatre.name }}</a>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <hr>
            <div>
                <h4>Appeared in:</h4>
                <div class="row">
                    {% for assocTheatre in artist.associatedTheatres.all %}
                        <div class="col-auto">
                            <ul class="list-group list-group-flush">
                                <a href="{% url 'theatre_view' assocTheatre.id %}"
                                   class="list-group-item list-group-item-action list-group-item-dark"
                                ><b>{{ assocTheatre.name }}</b></a>
                            </ul>
                            <br>
                            {% for actor_role in artist.actorrole_set.all %}
                                {% if actor_role.vaultPlay.theatre.name == assocTheatre.name %}
                                    <li class="list-group-item list-group-item-dark">
                                        {{ actor_role.vaultPlay.title }}
                                    </li>
                                    <li class="list-group-item list-group-item-light">
                                        {{ actor_role.role }}
                                    </li>
                                    <br>
                                {% endif %}
                            {% endfor %}

                            {% for vaultPlay in vaultPlays %}
                                {% if vaultPlay.theatre.id == assocTheatre.id %}
                                    {% if vaultPlay.director.name == artist.name %}
                                        <li class="list-group-item list-group-item-dark">
                                            {{ vaultPlay.title }}
                                        </li>
                                        <li class="list-group-item list-group-item-light">
                                            Director
                                        </li>
                                        <br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}