{% extends "base.html" %}
{#TODO: la titlu sa scrie all/state/independent?#}
{% block title %}Theatres{% endblock %}
{% block content %}
    <div class="container mx-5 mt-3">
        {% for theatre in theatres %}
            <div class="card mb-3 shadow-lg">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="{{ theatre.image.url }}"
                                    class="img-fluid"
                            />
                            <a href="{% url 'theatre_view' theatre.id %}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ theatre.name }}</h5>
                            <p class="card-text">
                                {{ theatre.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
