{% extends "base.html" %}
{% block title %}
    {% if type == "state" %}
        State Theatres
    {% elif type == "independent" %}
        Independent Theatres
    {% else %}
        Theatres
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <form class="input-group rounded mb-3" action="{% url 'theatres_view' %}" method="get">
             <input name="type" type="hidden" value="{{ type }}">
             <input name="q" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
             <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
             </span>
        </form>
        {% if query %} Search results for: {{ query }} {% endif %}
        {% for theatre in theatres %}
            <div class="card mb-3 shadow-lg">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="{{ theatre.image.url }}"
                                    class="img-fluid"
                            />
                            <a href="{% url 'theatre_view' theatre.id %}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ theatre.name }}</h5>
                            <p class="card-text">
                                {{ theatre.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
