{% extends "base.html" %}
{% load cloudinary %}
{% block title %}{{ theatre.name }}{% endblock %}
{% block content %}
    <div>
        <!-- Header with theatre name and follow button -->
        <div class="container" style="background-color: rgba(0, 0, 0, 0.2)">
            <div class="row pt-2">
                <div class="col-auto">
                    <p class="h1">{{ theatre.name }}</p>
                </div>
                <div class="col-auto pt-2">
                    {% include 'follow.html' with name="theatre" id=theatre.id %}
                </div>
            </div>
        </div>

        <!-- Theatre information -->
        <div class="mx-5 mt-3">

            <!-- Description and photo -->
            <div class="row justify-content-between">
                <div class="col-auto">
{#                    <p class="h4">General rating: {{ theatre.playsRating }}</p>#}
                    <p class="lead">{{ theatre.description }}</p>
                </div>
                <div class="col-auto">
                    {% cloudinary theatre.image format="jpg" width=240 height=160 crop="fill" %}
                </div>
            </div>

            <hr>

            <!-- Contact and location -->
            <div class="row justify-content-between">
                <div class="col-auto">
                    <div class="row">
                        <p class="h2">
                            Contact:
                        </p>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p><b>Phone number: </b>{{ theatre.phone }}</p>
                            <p><b>E-Mail: </b>
                                <a class="link-dark" href="mailto:{{ theatre.mail }}">
                                    <u>{{ theatre.mail }}</u>
                                </a></p>
                            <p><b>Website: </b>
                                <a class="link-dark"
                                   href="{{ theatre.website }}">
                                    <u>{{ theatre.website }}</u>
                                </a>
                            </p>

                            <p><b>Address: </b>{{ theatre.address }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <h4>Google Maps</h4>
                    <div id="map" style="height: 80%"></div>
                </div>
            </div>

            <hr>

            <!-- Plays schedule -->
            <div>
                <div class="row">
                    <p class="h2">Plays schedule:</p>
                </div>

                <div class="accordion" id="accordionExample">
                    {% for vault_play in theatre.vaultplay_set.all %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ vault_play.id }}">
                                <button
                                        class="accordion-button"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#collapse{{ vault_play.id }}"
                                        aria-expanded="true"
                                        aria-controls="collapse{{ vault_play.id }}"
                                >
                                    {{ vault_play.title }}
                                </button>
                            </h2>
                            <div
                                    id="collapse{{ vault_play.id }}"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="heading{{ vault_play.id }}"
                                    data-mdb-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                    {% for play in vault_play.play_set.all %}
                                        <a href="{% url 'play_view' play.id %}" class="link-dark">
                                            <p class="note note-light">
                                                <i class="far fa-calendar-alt"></i> {{ play.startTime.date }}, {{ play.startTime|date:"l" }}
                                                <br>
                                                <i class="far fa-clock"></i> {{ play.startTime.time }}-{{ play.endTime.time }}
                                            </p>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Google Maps Scripts -->
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHfHQEXiF-tgiuRc5NIH_hybFrvfOhrbM&callback=initMap&libraries=&v=weekly"
    ></script>

    <script>
        // Initialize and add the map
        function initMap() {

            const location = "{{theatre.location}}";
            const [lat, lng] = location.split(",").map(Number)

            const theatreLocation = {lat: lat, lng: lng};

            // The map, centered at theatre location
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 13,
                center: theatreLocation,
            });

            // The marker
            const marker = new google.maps.Marker({
                position: theatreLocation,
                map: map,
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock content %}