{% if user.is_authenticated %}
    {% if not follows %}
        <form action="/follow/" method="post">
          {% csrf_token %}
          <input type="hidden" name="{{ name }}" value="{{ id }}"}>
          <input type="submit" value="Follow" class="btn btn-outline-dark">
        </form>
    {% else %}
        <form action="/unfollow/" method="post">
          {% csrf_token %}
          <input type="hidden" name="{{ name }}" value="{{ id }}"}>
          <input type="submit" value="Unfollow" class="btn btn-outline-dark">
        </form>
    {% endif %}
{% else %}
    <p class="btn btn-outline-dark">Login in to follow</p>
{% endif %}