{% extends "base.html" %}
{% block title %}My profile{% endblock %}
{% block content %}
    <div class="container-fluid" style="height:100%">
        {# TODO:EDI paginate friends or show more #}
        <div class="row">
            <h2>Friends:</h2>
            <div class="row row-cols-1 row-cols-md-6 gx-4">
                {% for user in friends %}
                    {% if user.last_name %}
                        <div class="col">
                            <div class="card shadow-5 h-100">
                                <img
                                        src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                                        class="rounded-circle card-img-top p-1"
                                        alt=""
                                        loading="lazy"
                                />
                                <div class="card-body">
                                    <p class="card-text text-center">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <h2>Other users:</h2>
                <div class="row row-cols-1 row-cols-md-6 gx-4">
                    <form class="input-group rounded mb-3" action="{% url 'my_profile' %}" method="get">
                         <input name="q" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                         <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                         </span>
                    </form>
                    {% if query %} Search results for: {{ query }}
                        <form action="{% url 'my_profile' %}" method="get">
                          <input type="hidden" name="q" value=""}>
                          <input type="submit" value="Clear" class="btn btn-outline-dark">
                        </form>
                    {% endif %}
                    {% for user in users %}
                        {% if user.last_name %}
                            <div class="col">
                                <div class="card shadow-5 h-100">
                                    <img
                                            src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                                            class="rounded-circle card-img-top p-1"
                                            alt=""
                                            loading="lazy"
                                    />
                                    <div class="card-body">
                                        <p class="card-text text-center">
                                            {{ user.first_name }} {{ user.last_name }}
                                        </p>
                                        {% if not user.sent_request and not user.received_request %}
                                            <form action={% url 'add_friend' %} method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                <input type="submit" value="Add friend" class="btn btn-primary">
                                            </form>
                                        {% elif user.sent_request %}
                                            <small class="text-muted">Friend request sent</small>
                                        {% elif user.received_request %}
                                            <small class="text-muted">Check friend requests</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

